/* --- Базовые стили --- */
/*
#110305 - текст,цвет, фон 
#9C1C31 - активные кнопки 
#FCEEF0 - когда надо белый, использовать этот цвет
#450D15 - шапка, кнопки
#781725 - неактивные кнопки, бордеры
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html, body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto;
}

/* Универсальный фон */
.fon {
  background-color: #450D15;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 200vh; /* Для полной высоты страницы */
  
}

main {
  flex: 1;
}

/* --- Навигация --- */
.navigation {
  font-size: 1.26rem;
  color: #FCEEF0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem;
}

.navigation ul {
  display: flex;
  gap: 2rem;
}

.navigation li {
  position: relative;
  padding: 0.625rem 1.25rem;
  color: #FCEEF0;
  cursor: pointer;
  transition: transform 0.3s;
}

.navigation li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #9C1C31;
  transition: width 0.3s, left 0.3s;
}

.navigation li:hover::after {
  width: 100%;
  left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.okno button {
  font-size: 1rem;
  color: #FCEEF0;
  background-color: #781725;
  border: none;
  padding: 0.625rem 0.9375rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.okno button:hover {
  background-color: #9C1C31;
}

/* --- Модальное окно --- */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FCEEF0;
  padding: 1.25rem;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

.modal-title {
  text-align: center;
  color: #110305;
  margin-bottom: 1.25rem;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #110305;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="date"], input[type="time"], select, textarea {
  margin-bottom: 0.625rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #551414;
}
 /*кнопка*/

button[type="submit"] {
  padding: 0.625rem;
  border-radius: 5px;
  background-color: #781725;
  color: #FCEEF0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #9C1C31;
}

/* --- Главная страница --- */

.foto {
    height: 850px; /* Высота секции */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main__foto {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Обрезка изображения */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Изображение на заднем плане */
    animation: zoomIn 10s infinite alternate; /* Анимация */
}

@keyframes zoomIn {
    from {
        transform: scale(1); /* Начальный масштаб */
    }
    to {
        transform: scale(1.2); /* Увеличение на 20% */
    }
}

.main-block {
  color: #FCEEF0; /* Светло-розовый текст */
  text-align: center;
  line-height: 1.5;
  position: absolute;
  top: 50%; /* Центрирование по вертикали */
  left: 50%; /* Центрирование по горизонтали */
  transform: translate(-50%, -50%); /* Точное центрирование */
  max-width: 600px; /* Увеличил максимальную ширину */
}

.main-block .main-title {
  font-size: 80px; /* Увеличил размер шрифта */
  font-weight: bold;
  margin-bottom: 1.5rem; /* Увеличил отступ */
}

.main-block .main-text {
  font-size: 40px; /* Увеличил размер шрифта */
  font-weight: 300; /* Сделал текст легче */
}

/* --- О нас --- */

.about-section {
  background-color: #110305; /* Темный фон */
  padding: 60px 20px; /* Отступы сверху/снизу и по бокам */
}

.about-container {
  max-width: 1200px; /* Ограничение ширины контейнера */
  margin: 0 auto; 
  text-align: center; 
}


.text1 {
  font-size: 4rem; 
  color: #FCEEF0; 
  margin-bottom: 20px; /* Отступ снизу */
  font-weight: lighter; 
}


.line {
  width: 200px; /* Ширина полоски */
  height: 2px; /* Толщина полоски */
  background-color: #FCEEF0; /* Насыщенный бордовый */
  margin: 0 auto 20px; /* Отступы сверху/снизу и центрирование */
}


.text2 {
  font-size: 1.5rem; 
  color: #FCEEF0; 
  line-height: 1.6; /* Межстрочный интервал */
  margin-bottom: 20px; /* Отступ снизу */
  font-weight: lighter;
}


/* Преимущества */
.advantages {
  background-color: #FCEEF0; 
  padding: 60px 20px; /* Отступы сверху/снизу и по бокам */
}

.advantages-container {
  max-width: 1200px; 
  margin: 0 auto; /* Центрирование */
  text-align: center; 
}

.advantages-title {
  font-size: 2.5rem; 
  color: #450D15; 
  margin-bottom: 40px; 
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  gap: 20px; 
}

.advantage-item {
  flex: 1 1 calc(25% - 20px); /* 4 элемента в строке */
  background-color: #FFFFFF; 
  padding: 20px; /* Отступы внутри элемента */
  border-radius: 10px; /* Закругленные углы */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Тень */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Плавные изменения */
}

.advantage-item:hover {
  transform: translateY(-10px); /* Поднятие элемента */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Увеличенная тень */
}

.advantage-title {
  font-size: 1.5rem; 
  color: #781725; 
  margin-bottom: 10px; 
}

.advantage-text {
  font-size: 1rem; 
  color: #110305; 
  line-height: 1.6; 
}

/*История*/
.history {
  background-color: #110305; 
  padding: 60px 20px;
  color: #FCEEF0; 
}

.history-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.history-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.history-text {
  font-size: 1.25rem;
  line-height: 1.6;
}

/* Секция с каруселью */
.carousel-section {
  background-color: #110305; /* Темный фон */
  padding: 60px 20px; /* Отступы сверху/снизу и по бокам */
  position: relative;
  overflow: hidden;
}

/* Основной контейнер для информации и карусели */
.content-container {
  display: flex;
  gap: 40px; /* Расстояние между блоком информации и каруселью */
  align-items: flex-start; /* Выравнивание по верхнему краю */
}

/* Блок с информацией слева */
.info-block {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Расстояние между элементами */
  color: #FCEEF0; /* Светло-розовый текст */
  max-width: 200px; /* Ширина блока */
}

.info-item {
  text-align: left; /* Текст выровнен по левому краю */
}

.info-number {
  font-size: 2.5rem; /* Большой размер числа */
  font-weight: lighter; /* Жирный шрифт */
  display: block; /* Каждое число на новой строке */
}

.info-label {
  font-size: 1rem; /* Размер подписи */
  color: #9C1C31; /* Насыщенный бордовый */
  display: block; /* Каждая подпись на новой строке */
}

/* Контейнер карусели */
.carousel {
  position: relative;
  flex: 1; /* Занимает оставшееся пространство */
  overflow: hidden;
}

/* Внутренний контейнер карусели */
.carousel-inner {
  display: flex;
  transition: transform 0.5s ease; /* Плавное перелистывание */
}

/* Элемент карусели */
.carousel-item {
  min-width: 100%; /* Каждый элемент занимает 100% ширины */
  box-sizing: border-box;
}

.carousel-item img {
  width: 100%;
  height: 900px; /* Высота фотографий */
  object-fit:none; /* Обрезка изображения */
  border-radius: 10px; /* Закругленные углы */
}

/* Кнопки для перелистывания */
.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  color: #FCEEF0; /* Светло-розовый текст */
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 50%; /* Круглые кнопки */
  transition: background-color 0.3s ease;
}

.carousel-control:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Темнее при наведении */
}

.carousel-control.prev {
  left: 10px; /* Кнопка "Назад" слева */
}

.carousel-control.next {
  right: 10px; /* Кнопка "Вперед" справа */
}

/* Текст внизу слева */
.carousel-text {
  max-width: 100%; /* Ширина текста */
  margin-top: 20px; /* Отступ сверху */
  padding: 20px;
  color: #FCEEF0; /* Светло-розовый текст */
  font-size: 1.4rem;
  line-height: 2;
  text-align: center; /* Текст выровнен по левому краю */
  font-weight: lighter;
}

/* --- Меню --- */


/* Секция с фото и параллаксом */

.image-container1 {
  position: relative;
  overflow: hidden; /* Скрываем выходящие за пределы элементы */
  height: 400px; /* Высота контейнера */
}

.image-container1 img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Обрезка изображения */
  transition: transform 0.5s ease; /* Плавное изменение трансформации */
}

/* Эффект параллакса при наведении */
.image-container1:hover img {
  transform: scale(1.1); 
}

/* Текст поверх фото */
.text-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #FCEEF0; /* Светло-розовый текст */
}

.text-menu h1 {
  font-size: 2.5rem; /* Увеличенный размер заголовка */
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Тень для текста */
}

.text-menu p {
  font-size: 1.25rem; /* Размер текста */
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Тень для текста */
}

/* Секция с кнопкой меню */
.menubar {
  background-color: #FCEEF0;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px; /* Отступы сверху и снизу */
}

/* Стили для кнопки меню */


.menu-button {
  display: inline-block;
  padding: 15px 30px; /* Отступы внутри кнопки */
  font-size: 1.5rem; /* Размер текста */
  color: #FCEEF0; /* Светло-розовый текст */
  background-color: #781725; /* Бордовый фон */
  border: 2px solid #9C1C31; /* Граница */
  border-radius: 50px; /* Закругленные углы */
  text-decoration: none; /* Убираем подчеркивание */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Плавные изменения */
}

/* Эффекты при наведении на кнопку */
.menu-button:hover {
  background-color: #9C1C31; /* Насыщенный бордовый фон */
  transform: scale(1.05); /* Увеличение кнопки */
}



/* --- Footer --- */
.footer {
  background-color: #450D15;
  filter:brightness(0.8);
  color: #FCEEF0;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

/* --- Медиазапросы --- */
/* Планшеты */
@media only screen and (max-width: 1200px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 140vh; /* Для полной высоты страницы */ 
  }

  .navigation {
    flex-direction: column;
  }

  .foto {
    height: 500px;
  }

  .main-block {
    width: 90%;
    margin-top: -15%;
    margin-left: 100px;
  }

  .main__foto {
    height: 500px;
    filter: brightness(0.4);
  }

  .image {
    width: 300px;
    height: auto;
    padding: 10px;
    margin: 20px;
  }
  
  .image1 {
    width: 300px;
    height: auto;
    padding: 10px;
    margin: 20px;
  }

  .text-container p {
    font-size: 1.5rem;
  }

  .text-menu h1 {
    font-size: 1.5rem;
  }
  
  .text-menu p {
    font-size: 1rem;
  }
  .menubar a{
    font-size: 2rem;
  }
  .footer p {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 2000px) {

  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 105vh; /* Для полной высоты страницы */
  }
  .navigation {
    font-size: 2.5rem;
  }
  .navigation img {
    width: 150px;
  }

  .okno button {
    font-size: 2.5rem;
  }


  .main-block {
    left: 10%;
    width: 80%;
    text-align: center;
    top: 40%;
  }

  .main-block .main-title {
    font-size: 3.4rem;
  }

  .main-block .main-text {
    font-size: 2.4rem;
  }

  .image {
    width: 900px;
    height: auto;
    padding: 40px;
    margin: 50px;
  }
  
  .image1 {
    width: 900px;
    height: auto;
    padding: 40px;
    margin: 50px;
  }

  .text-container p {
    font-size: 2.8rem;
  }

  .text-menu h1 {
    font-size: 4rem;
  }
  
  .text-menu p {
    font-size: 2.5rem;
  }
  .menubar a{
    font-size: 4rem;
  }
  .footer p {
    font-size: 2rem;
  }
}


/* Мобильные устройства */
@media only screen and (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Для полной высоты страницы */ 
  }

  .navigation {
    flex-direction: column;
  }

  .foto {
    height: 500px;
  }

  .main-block {
    width: 90%;
    margin-top: -20%;
  }

  .main__foto {
    height: 500px;
    filter: brightness(0.5);
  }

  .image {
    width: 250px;
    height: auto;
    padding: 10px;
    margin: 30px;
  }
  
  .image1 {
    width: 250px;
    height: auto;
    padding: 10px;
    margin: 30px;
  }

  .text-container p {
    font-size: 1rem;
  }

  .text-menu h1 {
    font-size: 1.2rem;
  }
  
  .text-menu p {
    font-size: 0.8rem;
  }
  .menubar a{
    font-size: 1.5rem;
  }
  .footer p {
    font-size: 1rem;
  }
}
