/* --- Базовые стили --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html, body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto;
}

/* Универсальный фон */
.fon {
  background-color: #dcc7b5;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 300vh; /* Для полной высоты страницы */
  
}

main {
  flex: 1;
}

/* --- Навигация --- */
.navigation {
  font-size: 1.26rem;
  color: #2b070b;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem;
}

.navigation ul {
  display: flex;
  gap: 2rem;
}

.navigation li {
  position: relative;
  padding: 0.625rem 1.25rem;
  color: #2b070b;
  cursor: pointer;
  transition: transform 0.3s;
}

.navigation li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #2b070b;
  transition: width 0.3s, left 0.3s;
}

.navigation li:hover::after {
  width: 100%;
  left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.okno button {
  font-size: 1rem;
  color: #dcc7b5;
  background-color: #2b070b;
  border: none;
  padding: 0.625rem 0.9375rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.okno button:hover {
  background-color: #664547;
}

/* --- Модальное окно --- */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #dcc7b5;
  padding: 1.25rem;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

.modal-title {
  text-align: center;
  color: #2b070b;
  margin-bottom: 1.25rem;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="date"], input[type="time"], select, textarea {
  margin-bottom: 0.625rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #551414;
}

button[type="submit"] {
  padding: 0.625rem;
  border-radius: 5px;
  background-color: #2b070b;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #1a0405;
}

/* --- Главная страница --- */
.foto {
  height: 850px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main__foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -1;
}

.main-block {
  color: #f4f4e6;
  text-align: left;
  line-height: 1.5;
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translateY(-50%);
  max-width: 500px;
}

.main-block .main-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.main-block .main-text {
  font-size: 20px;
}

/* --- О нас --- */

  
.about-item {
  display: flex;
  align-items: center;
  opacity: 0; /* Начально скрыто */
  transform: translateX(-50px); /* Сдвинуть вбок */
  animation: slideIn 5s forwards; /* Анимация */
}
  
.about-item.reversed {
  flex-direction: row-reverse;
}
  
@keyframes slideIn {
  from {
  opacity: 0;
  transform: translateX(-50px);
  }
  to {
  opacity: 1;
  transform: translateX(0);
  }
}
  
.text-container {
  margin: 0 1rem;
  flex: 1; /* Текст занимает максимум доступного места */
  color: #2b070b;
}
  
.image {
  width: 500px;
  height: auto;
  padding: 50px;
  margin: 50px;
}

.image1 {
  width: 500px;
  height: auto;
  padding: 50px;
}

.text-container, .image-containe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.text-container p {
  font-size: 1.25rem;
  text-align: center;
  color: #2b070b;
}


/* --- Меню --- */
.image-container1 {
  position: relative;
}

.image-container1 img {
  display: block;
  width: 100%;
}

.text-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.text-menu h1 {
  font-size: 1.5rem;
}

.text-menu p {
  font-size: 1rem;
}

.menubar .m1 {
  font-size: 2rem;
  color: #2b070b;
  text-align: center;
  transition: color 0.3s;
}

.menubar .m1:hover {
  color: #664547;
}

/* --- Footer --- */
.footer {
  background-color: #2b070b;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

/* --- Медиазапросы --- */
/* Планшеты */
@media only screen and (max-width: 1200px) {

  .main-block {
    left: 10%;
    width: 80%;
    text-align: center;
  }

  .main-block .main-title {
    font-size: 30px;
  }

  .main-block .main-text {
    font-size: 18px;
  }

  .text-container p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 2000px) {

  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 105vh; /* Для полной высоты страницы */
  }
  .navigation {
    font-size: 2rem;
  }

  .okno button {
    font-size: 2rem;
  }


  .main-block {
    left: 10%;
    width: 80%;
    text-align: center;
  }

  .main-block .main-title {
    font-size: 3.4rem;
  }

  .main-block .main-text {
    font-size: 2.4rem;
  }

  .text-container p {
    font-size: 2rem;
  }
}

/* Мобильные устройства */
@media only screen and (max-width: 768px) {
  .navigation {
    flex-direction: column;
  }

  .main-block {
    width: 90%;
  }

  .main__foto {
    height: 500px;
  }

  .text-container p {
    font-size: 14px;
  }
}
